.order-sidebar {
    position: absolute;
    top: 0;
    right: -410px;
    width: 400px;
    height: 100%;
    z-index: 1;
    margin-top: 64px;
    padding: 24px;
    background-color: #121212;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;

    &.active {
        right: 0;
    }
}
