:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.post-form {
  display: grid;
  gap: .5rem;
  width: max(20rem, 70%);
  margin: 2rem auto;

  .input-group {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 0.125rem;
      font-size: 11px;
    }

    input, textarea {
      padding: 0.5rem;
      border: 1px solid rgba(153, 205, 50, 0.418);
      border-radius: 0.25rem;
      color: #DDD;
    }

    .error {
      color: #fa4b6e;
      font-size: 0.75rem;
    }

  }
  button {
    padding: 0.5rem;
    border: 1px solid rgba(153, 205, 50, 0.418);
    border-radius: 0.25rem;
    background-color: rgb(153, 205, 50);
    color: #242424;
    cursor: pointer;

    &:hover {
      background-color: rgb(153, 205, 50, 0.8);
    }

    &:disabled {
      pointer-events: none;
      filter: grayscale(1) opacity(.5);
    }
  }
}
