:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.post-form {
  display: grid;
  gap: .5rem;
  width: 100%;
  margin: 0 auto;

  .input-group {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 0.125rem;
      font-size: 11px;
    }

    input,
    textarea {
      padding: 0.5rem;
      border: 1px solid rgba(153, 205, 50, 0.418);
      border-radius: 0.25rem;
      color: #DDD;
      width: 100%;
    }

    .error {
      color: #fa4b6e;
      font-size: 0.75rem;
    }

  }

  button {
    padding: 0.5rem;
    border: 1px solid rgba(153, 205, 50, 0.418);
    border-radius: 0.25rem;
    background-color: rgb(153, 205, 50);
    color: #242424;
    cursor: pointer;

    &:hover {
      background-color: rgb(153, 205, 50, 0.8);
    }

    &:disabled {
      pointer-events: none;
      filter: grayscale(1) opacity(.5);
    }
  }
}

button {
  border: none;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.button {
  padding: .5rem 1rem;
  background-color: yellowgreen;
  border-radius: 2px;
  color: #242424;

  &:hover {
    background-color: hsl(80, 61%, 35%);
  }

  &.button-info {
    background-color: #3b82f6;
    color: white;

    &:hover {
      background-color: hsl(210, 100%, 35%);
    }
  }

  &.button-danger {
    background-color: #fa3d63;
    color: white;

    &:hover {
      background-color: hsl(348, 95%, 51%);
    }
  }


  &.button-xs {
    padding: .125rem 0;
    width: 20px;



  }
}

.order-buttons {
  display: flex;
  gap: .5rem;
  justify-content: center;
  margin: 1rem 0;
}

.admin-container {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));

  >div {
    padding: 1rem;
  }

  .admin-list {
    grid-column: span 2;
  }
}


@media screen and (width < 768px) {
  .admin-container {
    grid-template-columns: 1fr;
  }
}
